Eventos.Platinum.API/bin
Eventos.Platinum.API/obj
Eventos.Platinum.Data/bin
Eventos.Platinum.Data/obj

Eventos.Platinum.Library/bin
Eventos.Platinum.Library/obj

Eventos.Platinum.Shared/bin
Eventos.Platinum.Shared/obj

.vs